.box{
  height: 100px;
  width: 100px;
  background-color: red;
  animation-name: moving;
  animation-duration: 3s;
  animation-delay: 1000ms;
  /* animation-fill-mode: forwards; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes moving{
  0% {
    transform: translate(0);
    background-color: blue;
  }
  25%{
    transform: translate(50px);
  }
  50%{
    transform: translate(50px, 50px);
  }
  75%{
    transform: translate(-50px, 50px);
  }
  100%{
    transform: translate(-50px,-50px);
  }
}