@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto+Mono&display=swap');

*{
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main{
  background: #000038;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  font-size: 5rem;
  font-weight: 700;
}
.alphabet{
  color: white;
  transition: all ease-in-out;
  transition-duration: 50ms;
}
.container:hover .alphabet{
  color: #dc02dc;
}